bcrypt==3.2.2
fastapi
groq
httpx
motor
nanoid
passlib[bcrypt]
pdfplumber
pydantic[email]
pydantic-settings
python-dateutil
python-docx
python-dotenv
python-jose[cryptography]
python-multipart
retell-sdk
uvicorn
